body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDiv {
    position: absolute;
    top: 120px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(0, 0, 0);
    user-select: none;
}

table {
    text-align: center;
}

.lightCell {
    width: 80px;
    height: 80px;
    background-color: rgb(206, 206, 206);
}

/* td:hover {
    cursor: pointer;
} */

.darkCell {
    width: 50px;
    height: 50px;
    background-color: rgb(92, 92, 92);
}

.selectedCell {
    background: rgb(209, 157, 12);
}

.possibleMovement {
    background: rgb(122, 39, 39);
}

.winnerPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    font-size: xx-large;
    padding: 50px;
    border: 1px solid black;
}